* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
main {
    padding: 20px;
}
.btn-container {
    display: inline-block;
    width: 60px;
    height: 30px;
    border-radius: 100px;
    background-color: hsl(228, 12%, 44%);
    position: relative;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.btn-container::after {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    top: 5px;
    left: 32px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    transition: all 0.3s ease-in;
}
#dark-mode {
    display: none;
}
#dark-mode:checked ~ .btn-container {
    background: linear-gradient(to right,hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}
#dark-mode:checked ~ .btn-container::after {
    left: 5px;
    background-color: hsl(230, 17%, 14%);
}
.dark-mode-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px 50px 0px;
}
.dark-mode-section p {
    color: hsl(228, 12%, 44%);
    font-weight: 700;
}
.info h1 {
    margin: 20px 0px 10px 0px;
}
.info span {
    display: inline-block;
    margin-bottom: 20px;
    color: hsl(228, 12%, 44%);
    font-weight: 700;
}
.social-follower {
    background-color: hsl(227, 47%, 96%);
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 20px;
    max-width: 400px;
    width: 100%;
}
.line {
    height: 4px;
}
.facebook {
    background-color: hsl(208, 92%, 53%);
}
.twitter {
    background-color: hsl(203, 89%, 53%);
}
.instagram {
    background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}
.youtube {
    background-color: hsl(348, 97%, 39%);
}
.social-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.social-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.social-container p {
    font-weight: 700;
    color: hsl(228, 12%, 44%);
}
.follower-count {
    font-weight: 700;
    font-size: 3rem;
}
.word-count {
    text-transform: uppercase;
    font-size: 0.9rem;
    margin: 10px 0px 20px 0px;
    letter-spacing: 5px;
}
.growth {
    display: flex;
    align-items: center;
}
.growth img {
    height: 5px;
    object-fit: contain;
    margin-right: 5px;
}
.growth p {
    font-weight: 700;
    color: hsl(163, 72%, 41%);
    font-size: 0.9rem;
}
.growth .down {
    color: hsl(356, 69%, 56%);
}
.followers-count-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
}
.overview-section h2 {
    margin: 20px 0px;
}
.overview-single {
    background-color: hsl(227, 47%, 96%);
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 20px;
    max-width: 400px;
    width: 100%;
    padding: 20px;
}
.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.info p {
    font-weight: 700;
    color: hsl(228, 12%, 44%);
}
.numbers {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.numbers .quantity {
    font-size: 1.5rem;
    font-weight: 700;
}
.overview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) {
    .followers-count-container {
        grid-template-columns: 1fr 1fr;
    }
    .overview-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}
@media (min-width: 1280px) {
    .followers-count-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .overview-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}