* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
main {
    padding: 20px;
}
.btn-container {
    display: inline-block;
    width: 60px;
    height: 30px;
    border-radius: 100px;
    background-color: hsl(228, 12%, 44%);
    position: relative;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.btn-container::after {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    top: 5px;
    left: 32px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    transition: all 0.3s ease-in;
}
#dark-mode {
    display: none;
}
#dark-mode:checked ~ .btn-container {
    background: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}
#dark-mode:checked ~ .btn-container::after {
    left: 5px;
    background-color: hsl(230, 17%, 14%);
}
.dark-mode-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.dark-mode-section p {
    color: hsl(228, 12%, 44%);
    font-weight: 700;
}
.info h1 {
    margin: 20px 0px 10px 0px;
}
.info span {
    display: inline-block;
    margin-bottom: 20px;
    color: hsl(228, 12%, 44%);
    font-weight: 700;
}